$icon-size: 18px;
$text-field-padding: 16px;

.search-field {
    position: relative;

    input[type='text'] {
        display: block;
        width: 100%;
        margin-bottom: 0;
        padding-right: calc(2 * #{$text-field-padding} + #{$icon-size});
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: $text-field-padding;
        transform: translateY(-50%);

        &::before {
            content: '';
            display: block;
            width: $icon-size;
            height: $icon-size;
            background-image: url('../../../assets/search.svg');
        }
    }
}
