@import '../../../variables.scss';
$card-img-height: 170px;

.product {
    border-radius: $border-radius;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__img {
        height: $card-img-height;
        overflow: hidden;
        position: relative;

        img {
            object-fit: cover;
            height: $card-img-height;
        }
    }

    &__label {
        position: absolute;
        top: 15px;
        left: 0;
        background: $color-secondary;
        padding: 4px 15px;
        color: #fff;
    }

    &__content {
        padding: 0 18px;

        p {
            margin: $gap-sm 0 $gap-md 0;
        }
    }

    &__title {
        font-size: 1.3rem;
        line-height: 1.5;
        margin-top: 15px;
    }

    &__footer {
        margin-top: auto;
        padding: 0 18px $gap-md 18px;
    }
}
