@import '../../variables.scss';

.login {
    &__wrapper {
        display: flex;
    }

    &__background-img {
        display: none;
    }

    &__content {
        padding: 0 $gap-md;
        height: 100vh;
        background: #fff;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: $gap-lg 0;
        background: #fff;
        width: 100%;

        h2 {
            font-size: 1.6rem;
        }
    }

    &__form {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 2.1rem;
            margin-bottom: 30px;
        }

        button {
            margin: $gap-lg 0 15px 0;
        }
    }
}

@media (min-width: 1024px) {
    .login {
        &__background-img {
            display: block;
            background-image: url('../../assets/login-bg.jpg');
            background-size: cover;
            width: 600px;
            height: 100vh;
        }

        &__header,
        &__form {
            width: 300px;
        }
    }
}

@media (min-width: 1200px) {
    .login {
        &__header,
        &__form {
            width: 500px;
        }
    }
}
