@import '../../variables.scss';
$checkbox-size: 24px;

.checkbox {
    position: absolute;
    top: -300%;
    left: -300%;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding-left: calc(#{$checkbox-size} + #{$gap-sm});
        margin: 0 $gap-md 0 0;
        user-select: none;
    }

    & + label:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-right: 8px;
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        background: #fff;
        border-radius: $border-radius-sm;
        border: 1px solid $grey-2;
    }

    &:checked + label:before {
        background: $color-primary-light;
        border-color: $color-primary-light;
        background-image: url('../../assets/check.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 12px 9px;
    }
}
