@import '../../variables.scss';

.pagination {
    text-align: center;
    color: $grey-5;
    margin-bottom: $gap-lg;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__element {
        display: inline-block;
        margin: 0 $gap-sm;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: $color-primary-light;
            }
        }

        &--first {
            margin: 0 $gap-sm 0 0;
        }
        &--last {
            margin: 0 0 0 $gap-sm;
        }

        &--active {
            color: $color-primary-light;
        }
    }
}

@media (min-width: 768px) {
    .pagination {
        &__element {
            margin: 0 15px;
        }

        &--first {
            margin: 0 $gap-md 0 0;
        }
        &--last {
            margin: 0 0 0 $gap-md;
        }
    }
}
