@import '../../variables.scss';
$star-size: 13px;

.rating {
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    .star {
        border: none;
        background: transparent;
        width: $star-size;
        height: $star-size;
        padding: 0;

        &:not(:first-child) {
            margin-right: $gap-sm;
        }

        &::after {
            content: '';
            display: block;
            width: $star-size;
            height: $star-size;
            background-image: url('../../assets/empty-star.svg');
            transition: all 0.12s linear;
        }
    }
    > .star:hover:after,
    > .star:hover ~ .star::after {
        background-image: url('../../assets/filled-star.svg');
        transform: scale(1.25);
    }

    .star--is-marked {
        &::after {
            background-image: url('../../assets/filled-star.svg');
        }
    }
}
