@import '../../variables.scss';
$close-btn-size: 14px;

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: $border-radius;
    z-index: 110;
    max-height: 85vh;
    overflow: auto;

    &__title {
        padding: 0 $gap-md;
        margin: $gap-md 0 $gap-sm 0;
    }

    &__description {
        padding: 0 $gap-md;
        margin: 0 0 $gap-lg 0;
    }

    &__image {
        height: 350px;

        img {
            height: 350px;
            object-fit: cover;
        }
    }

    &__close-btn {
        position: absolute;
        border: none;
        right: $gap-md;
        top: $gap-md;
        background: transparent;
        width: $close-btn-size;
        height: $close-btn-size;
        padding: 0;

        &::after {
            content: '';
            display: block;
            width: $close-btn-size;
            height: $close-btn-size;
            background-image: url('../../assets/close.svg');
            background-repeat: no-repeat;
        }
    }
}
