// COLORS
$color-primary-light: #4460f7;
$color-primary-dark: #2140e8;

$color-secondary: #f9a52b;

$grey-1: #f0f1f5;
$grey-2: #e0e2ea;
$grey-3: #b9bdcf;
$grey-4: #9194a5;
$grey-5: #1a1b1d;

// OTHERS
$border-radius-sm: 4px;
$border-radius: 8px;

$gap-sm: 8px;
$gap-md: 24px;
$gap-lg: 52px;
